:root {
    --accent-color: hsl(75, 94%, 57%);
    --text-color: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-900);
    color: var(--text-color);
    font-family: "inter", sans-serif;
    text-align: center;
    font-size: 1.4rem;
}

.social-link-card{
    background-color: var(--gray-800);
    max-width: 35rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 1rem;

}

.dev-profile-photo{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 12rem;
    width: 100%;
    border-radius: 50%;
    border: 0.5rem solid var(--accent-color);
    background-color: var(--gray-700);
}

.dev-name{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.location{
    color: var(--accent-color);
}

.profession{
    opacity: 0.7;
}

.social-media-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.social-btn{
    text-decoration: none;
    flex-grow: 1;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--gray-700);
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease ;
}

.social-btn:hover {
    background-color: var(--accent-color);
    color: var(--gray-900);
}

